<%= form_with(model: hotel) do |form| %>
  <% if hotel.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(hotel.errors.count, "error") %> prohibited this hotel from being saved:</h2>

      <ul>
        <% hotel.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :location, style: "display: block" %>
    <%= form.text_area :location %>
  </div>

  <div>
    <%= form.label :contact_no, style: "display: block" %>
    <%= form.text_field :contact_no %>
  </div>

  <div>
    Select days:<br>
        <label><input type="checkbox" name="days[]" value="Monday"> Monday</label><br>
        <label><input type="checkbox" name="days[]" value="Tuesday"> Tuesday</label><br>
        <label><input type="checkbox" name="days[]" value="Wednesday"> Wednesday</label><br>
        <label><input type="checkbox" name="days[]" value="Thursday"> Thursday</label><br>
        <label><input type="checkbox" name="days[]" value="Friday"> Friday</label><br>
        <label><input type="checkbox" name="days[]" value="Saturday"> Saturday</label><br>
        <label><input type="checkbox" name="days[]" value="Sunday"> Sunday</label><br>
  </div>
        
  <div>
    <br>Select times:<br>
    <label><input type="checkbox" name="times[]" value="Morning"> Morning</label><br>
        <label><input type="checkbox" name="times[]" value="Afternoon"> Afternoon</label><br>
        <label><input type="checkbox" name="times[]" value="Night"> Night</label><br>
    
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
